@font-face {
  font-family: "BROTHER-Bold";
  src: url(BROTHER-Bold.ttf);
}

.titan-one-regular {
  font-family: "Titan One", serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
  html, body {
    overflow-x: hidden;
  }
  .home {
    background: url(public/images/homepage.jpg) no-repeat center/cover;
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    width: 100%;
    font-family: "Titan One";
    font-weight: 100;
    font-size: 22px;
    margin: 0;
  }
  
  .header nav ul {
    text-align: right;
    display: list-item;
    overflow-x: hidden;
    margin-right: 2%;
    margin-top: 0;
    margin-bottom: 1%;
    list-style: none;
  }

  .header nav ul a {
    text-decoration: none;
    overflow-x: hidden;
    color: #000000;
    font-size: 22px;
    transition: all 0.3s ease;
    position: relative;
  }

  .header nav ul a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fc8904;
    overflow-x: hidden;
    transition: width 0.3s ease;
    margin-left: 80%;
  }
  
  .header nav ul a:hover::after,
  .header nav ul a.active::after {
    width: 20%;
    overflow-x: hidden;
  }
    
  .logo {
    width: 60px;
    height: 50px;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
  }
  
  .textosobre {
    max-width: 100%;
    overflow-x: hidden;
    margin: 4%;
    height: auto;
    font-family: "Titan One";
    text-shadow: #000000 2px 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: left bottom;
    text-align: left;
    color: #ffff;
  }
  
  .sobre p {
    overflow-x: hidden;
    max-width: 100%;
    padding-left: 1%;
    font-size: 12px;
    margin-top: 0;
  }

  .sobre-container {
    overflow-x: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    max-width: 95%;
    margin: auto;
    gap: 20px;
  }

  .textosobre {
    font-family: "Titan One";
    overflow-x: hidden;
    font-size: 12px;
    flex: 1;
    display: flex;
    min-width: 300px;
    max-width: 600px;
    text-align: center;
    margin: 5%;
    color: #ffff;
  }

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px #f562e1;
    transition: 0.3s;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 30%;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative; 
  }

  .section5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.footer {
  width: 100%;
  background-color: #121212;
  overflow-x: hidden;
  color: white; 
  text-align: center;
  padding: 5px;
  font-size: 12px;
}

.footer-link {
  text-decoration: none;
  background-color: #121212;
  overflow-x: hidden;
  color: white; 
  text-align: center;
  padding: 5px;
  font-size: 12px; 
}
}

@media (min-width: 769px) {
  .home {
    font-weight: 100;
    font-family: "Titan One";
    margin: 0;
    background: url(public/images/homis3.jpg)no-repeat center ;
    width: 100vw;
    height: 1050px;
    overflow-x: hidden;
    background-size: cover;
    transition: background-color 1s ease, opacity 1s ease;
    color: #d1d1d1;
    text-align: center;
  }
  .logo {
    width: 7vw;
    height: 7vw;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
  }
.header nav ul {
  text-align: right;
  display: list-item;
  margin-right: 2%;
  margin-top: 0;
  margin-bottom: 1%;
  list-style: none;
}

.header nav ul a {
  text-decoration: none;
  color: #000000;
  font-size: 2vw;
  transition: all 0.3s ease;
  position: relative;
}

.header nav ul a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fc8904;
  transition: width 0.3s ease;
  margin-left: 93%;
}

.header nav ul a:hover::after,
.header nav ul a.active::after {
  width: 7%;
}
  
  .textosobre {
    background: url(public/images/galeria9Invertida.jpg) center;
    max-width: 100%;
    margin: 4%;
    height: 775px;
    font-family: "Titan One";
    text-shadow: #000000 2px 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: left bottom;
    text-align: left;
    background-size: cover;
    color: #ffff;
  }
  
  .sobre p {
    max-width: 40%;
    padding-left: 1%;
    font-size: 20px;
  }

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px #f562e1;
  transition: 0.3s;
  box-sizing: border-box;
  width: 20%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.section5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  background-color: #121212;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

.footer-link {
  text-decoration: none;
  background-color: #121212;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
}

body {
  overflow-x: hidden;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  }

body.scrolled {
  overflow-x: hidden;
  transition: 1s ease, opacity 1s ease;
  background-blend-mode: darken;
  background-color: #000000;
  background-size: cover;
  font-family: "Titan One", serif;
  color: #ffff;
  opacity: 0.9;
}

.bold-text {
  font-weight: bolder;
  color: #fc8904;
}

h1 {
  color: #fc8904;
  font-family: "BROTHER-Bold", serif;
  text-align: center;
}

h2 {
  color: #ffff;
  font-family: "BROTHER-Bold", serif;
  text-align: center;
}

p {
  text-align: center;
}

a {
  color: #fc8904;
  cursor: pointer;
  text-decoration: none;
}

.header nav ul a:hover,
.header nav ul a.active {
  color: #fc8904;
  cursor: pointer;
}

.conteiner {
  display: flex;
  flex-wrap:wrap-reverse;
  justify-content: center;
  gap: 30px;
  max-width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.card img {
  width: 100%;
  display: block;
  transition: opacity 0.3s ease-in-out;
  object-fit: fill;
}

.card img.hover {
  display: none;
  transition: opacity 0.3s ease-in-out;
  transform: translateY(-6px);
  width: 100%;
  height: auto;
  object-fit: fill;
}

.card:hover img.default {
  display: none;
  transition: opacity 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-6px);
}

.card:hover img.hover {
  display: block;
  object-fit: cover;
  transition: opacity 0.3s ease-in;
}

.card:hover p {
  color: #fc8904;
  transition: ease-in 0.3s;
  cursor: pointer;
}

.card:hover h4 {
  color: #fc8904;
  transition: ease-in 0.3s;
}

.card h2 {
  color: #ffffff;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.butao {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
}

.bookmarkBtn {
  width: 100px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgb(12, 12, 12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  margin-top: auto;
  position: relative;
}

.IconContainer {
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #fcc204, #ff8800);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 7;
  transition-duration: 0.3s;
  position: relative;
}

.icon {
  border-radius: 1px;
}

.text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
}

.carrossel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.carrossel {
  display: flex;
  position: relative;
  width: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carrossel-container {
  display: flex;
  height: 50vh;
  transition: transform 0.5s ease-in-out;
}

.carrossel-container img {
  margin: 0;
  scroll-snap-align: center;
  flex-shrink: 0;
  display: block;
  max-width: 100%;
  width: 100vw;
  height: auto;
  border-radius: 10px;
}


.carrossel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.indicadores {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 5px;
}

.indicadores .ponto {
  width: 10px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicadores .ponto.ativo {
  background-color: rgba(255, 255, 255, 1);
}

.bookmarkBtn:hover .IconContainer {
  width: 90px;
  transition-duration: 0.3s;
}

.bookmarkBtn:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

.bookmarkBtn:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}
